models/
preprocessed/
raw/
*.pyc
vocab.search
local
bleu_metric
rouge_metric
.idea/
add_copyright.py
copyright
.DS_Store
/data/temp/cooccurrence.bin
/data/temp/cooccurrence.shuf.bin
/data/temp/vectors.txt
/data/temp/vocab.txt
/data/temp/vocab.pkl
/data/temp/test.pkl
/data/temp/TKMRCCorpus
/data/TKData/data0828.xlsx
/data/TKData/tk_json.json
/data/TKData/tk_json_cut.json
/data/TKData/tk_processed.json
/data/mergeData/
/data/vocab/vocab.data
/data/results/
/data/merge_processed/
/data/temp/MRCcorpus
/data/zhidao/
/tf_version/train.log
/tf_version/test.log
/tf_version/log/
